%p#notice= notice

%p
  %b Name:
  = @user.name
%p
  %b Provider:
  = @user.provider

%p
  %b picture:
  = image_tag @user.image


- @businesses.each do |business|
  %tr
    %td= link_to "#{@user.name} gave a review to: #{business.title}", category_business_path(@category, business)
    %br
    %br

= link_to 'Back', categories_path
