-# edit.html.haml using partial

%h1 Add a business to #{@category.title}

= form_tag category_path(@category), :method => :put do

  = label :business, :title, 'Title'
  = text_field :business, 'title'

  = label :business, :description, 'description'
  = text_field :business, :description

  = submit_tag 'Update Category Info'
