-#  This file is app/views/movies/index.html.haml


%h1 All Categories

%h3= link_to 'View Your profile', user_path(@current_user)

%table#categories
  %thead
    %tr
      %th='Category Title'
      %th Description
  %tbody
    - @categories.each do |category|
      %tr
        %td= link_to "#{category.title}", category_path(category) 
        %td= category.description

- if session[:username] == 'Maarij Tahir' then
  = link_to 'Add new Category', new_category_path
