-# in app/views/movies/show.html.haml

%h2 Details about #{@category.title}

%tbody
  - @category.businesses.each do |business|
    %tr
      %td= link_to "More about #{business.title}", category_business_path(@category, business)

%h3 Description:

%p#description= @category.description

= link_to 'Add a new business', edit_category_path(@category)
= link_to 'Back to category list', categories_path
= button_to 'Delete', category_path(@category), :method => :delete, :confirm => 'Are you sure?'